:host {
  margin-bottom: 3vh;

  &:nth-child(3n+1) .card-details {
    &:before {
      left: 15%;
    }
  }

  &:nth-child(3n+2) .card-details {
    margin-left: -100%;

    &:before {
      left: 48%;
    }
  }

  &:nth-child(3n+3) .card-details {
    margin-left: -200%;

    &:before {
      left: 82%;
    }
  }
}

.card {
  margin: 0 5%;
  padding: 4%;
  display: block;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  transition: all 0.3s ease-in-out;

  &.blur {
    opacity: 0.3;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.card-details {
  margin-top: 30px;
  overflow: hidden;
  background: #3481d5;
  width: 300%;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &:before {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    margin-top: -27px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #3481d5;
  }

  .image-container {
    width: 30%;
    padding-top: 15px;
  }

  h4 {
    display: block;
    padding-bottom: 12px;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    border-bottom: 1px solid #f3f5f8;
  }

  .project-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 52px;

    p {
      padding: 12px;
    }

    div {
      position: absolute;
      bottom: 6px;
      right: 6px;

      button {
        outline: none;
        border: none;
        font-weight: 600;
        padding: 10px 18px;
        border-radius: 48px;
        background-color: #ffffff;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
        color: #3481d5;
        font-size: 1em;
        cursor: pointer;

        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: translateY(-6px);
        }
      }
    }

  }
}

/deep/ {
  .image-container {
    height: 210px;
    overflow: hidden;

    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
    }
  }

  h3 {
    padding-top: 10px;
  }

  p {
    padding-top: 6px;
  }

}
