<div class="card" [ngClass]="{'blur' : blur}">
  <ng-content></ng-content>
</div>
<div class="card-details" *ngIf="expanded" [@expandCard]="expanded" [ngClass]="{'expanded': expanded}" #cardDetail>
  <h4>{{ project.name }}</h4>
  <div class="image-container">
    <img [src]="project.images[0]?.path" [alt]="project.images[0]?.caption" (click)="zoomImage($event)"
         class="main-image">
    <div class="others">
      <img *ngFor="let image of project.images | slice:1"
           [src]="image.path"
           [alt]="image.caption"
           (click)="zoomImage($event)"
      >
    </div>
  </div>
  <div class="project-details">
    <div [innerHTML]="project.content"></div>
    <div class="actions">
      <a *ngFor="let link of project.links" [href]="link.url">
        <button>{{ link.label }}</button>
      </a>
    </div>
  </div>
</div>
