<div class="card">
  <ng-content></ng-content>
</div>
<div class="card-details" *ngIf="expanded" [@expandCard]="expanded">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid atque cum cumque, dolorem dolorum
  fuga harum hic in iste minus pariatur quibusdam recusandae reprehenderit soluta vitae. Ducimus, iusto!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid atque cum cumque, dolorem dolorum
  fuga harum hic in iste minus pariatur quibusdam recusandae reprehenderit soluta vitae. Ducimus, iusto!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid atque cum cumque, dolorem dolorum
  fuga harum hic in iste minus pariatur quibusdam recusandae reprehenderit soluta vitae. Ducimus, iusto!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam, aliquid atque cum cumque, dolorem dolorum
  fuga harum hic in iste minus pariatur quibusdam recusandae reprehenderit soluta vitae. Ducimus, iusto!
</div>
