:host {
  margin-bottom: 3vh;

  &:nth-last-of-type(1n) .card-details {
    &:before {
      left: 15%;
    }
  }

  &:nth-of-type(2n) .card-details {
    margin-left: -100%;

    &:before {
      left: 48%;
    }
  }

  &:nth-of-type(3n) .card-details {
    margin-left: -200%;

    &:before {
      left: 82%;
    }
  }
}

.card {
  margin: 0 5%;
  padding: 4%;
  display: block;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  transition: all 0.3s ease-in-out;

  &.blur {
    opacity: 0.3;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.card-details {
  margin-top: 30px;
  overflow: hidden;
  background-color: #333a45;
  width: 300%;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;

  &:before {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    margin-top: -27px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
  }
}

/deep/ {
  .image-container {
    height: 210px;
    overflow: hidden;

    img {
      width: 100%;
      height: 210px;
      object-fit: cover;
    }
  }

  h3 {
    padding-top: 10px;
  }

  p {
    padding-top: 6px;
  }
}


