<div class="background-wrapper" #backgroundWrapper>
  <div class="background-first" [@slideUp]="animationState">
  </div>
  <div class="background-second" [@slideDown]="animationState">
  </div>
  <div class="background-third" [@slideLeft]="animationState">
  </div>
</div>

<div class="content" [@fadeIn]="animationState">
  <div class="photo">
    <img src="assets/laurentbassin.svg" alt="">
  </div>
  <div class="text">
    <div>
      <h1>Bassin Laurent</h1>
      <h2>Web Developer</h2>
    </div>
  </div>
  <div class="start">
    <button (click)="getStartedAction()">Get started</button>
  </div>
</div>

<div class="body" [ngClass]="{'auto-height': animationState === 'out'}">
  <app-projects #appProjects></app-projects>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
    "@type": "PostalAddress",
      "addressCountry": "France",
      "addressLocality": "Paris"
  },
    "email": "mailto:laurent@bassin.info",
    "image": "https://laurentbassin.fr/assets/laurentbassin.svg",
    "jobTitle": "Développeur Web Back-End",
    "name": "Laurent Bassin",
    "url": "https://laurentbassin.fr/"
  }
</script>
