.background-first {
  background: #1976d2 linear-gradient(145deg, #0d47a1, #42a5f5);

  width: 100vw;
  height: 60vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  transform: translateZ(1px) skewY(9deg);
  transform-origin: 100%;

  box-shadow: 0 7px 38px -12px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-out;
}

.background-second {
  background: #d2040b linear-gradient(145deg, #f45c43, #eb3349);

  width: 100vw;
  height: 100vh;

  position: absolute;
  bottom: 0;
  left: 35vh;
  z-index: 10;

  transform: skewX(-52deg);
  transform-origin: 0 100%;

  box-shadow: 0 7px 38px -12px rgba(0, 0, 0, 0.75);
}

.background-third {
  background: #ffffff;

  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  transform: skewY(-38deg);
  transform-origin: 35vh 100%;
}

.content {
  width: 44vw;
  height: 35vh;
  position: absolute;
  left: 50vw;
  top: 48vh;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  z-index: 30;
  flex-wrap: wrap;

  .photo {
    width: 40%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 35%;
      padding-top: 8vh;
    }
  }

  .text {
    width: 60%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;

    > div {
      text-align: right;
      width: 100%;
      position: absolute;
      transform: translateY(-50%);
      top: 40%;

      h1, h2 {
        font-weight: 700;
        margin-bottom: 12px;
      }

      h1 {
        font-size: 3.3em;
        font-weight: 700;
      }

      h2 {
        font-size: 2.3em;
        font-weight: 600;
      }
    }
  }
}

.start {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10vh;
  position: relative;
  z-index: 30;

  button {
    position: absolute;
    left: 65%;
    top: 2vh;
  }
}

button {
  outline: none;
  border: none;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 48px;
  background-color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  color: #ef4d46;
  font-size: 1.2em;
  letter-spacing: 0.3px;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .content {
    width: 55vw;
  }

  .start {
    button {
      left: 70%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .background-first {
    height: 55vh;
  }

  .background-second {
    left: 12vw;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    width: 70vw;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 80vw;
  }

  .background-second {
    left: 6vw;
    transform: skewX(-46deg);
  }
}

@media screen and (max-width: 800px) {
  .content {
    .text {
      > div {
        h1 {
          font-size: 2.8em;
        }
        h2 {
          font-size: 1.8em;
        }
      }
    }
  }

  button {
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  .content {
    margin-top: 8vh;
    height: 60vh;

    .text {
      order: 1;
      width: 100%;
      top: 28vh;

      > div {
        text-align: center;
      }
    }

    .photo {
      order: 2;
      width: 100%;
      height: 40vh;

      img {
        padding-top: 0;
      }
    }

    .start {
      order: 3;
      width: 100%;
      margin-top: 6vh;

      button {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
