.background-first {
  background: #1976d2 linear-gradient(145deg, #0d47a1, #42a5f5);

  width: 100vw;
  height: 60vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  transform: translateZ(1px) skewY(9deg);
  transform-origin: 100%;

  box-shadow: 0 7px 38px -12px rgba(0, 0, 0, 0.75);
}

.background-second {
  background: #d2040b linear-gradient(145deg, #f45c43, #eb3349);

  width: 83vw;
  height: 100vh;

  position: absolute;
  bottom: 0;
  left: 35vh;
  z-index: 10;

  transform: skewX(-52deg);
  transform-origin: 0 100%;

  box-shadow: 0 7px 38px -12px rgba(0, 0, 0, 0.75);
}

.background-third {
  background: #ffffff;

  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  transform: skewY(-38deg);
  transform-origin: 35vh 100%;
}

.content {
  width: 40vw;
  height: 35vh;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 20vh;
  z-index: 30;

  .photo {
    width: 40%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 35%;
    }
  }

  .text {
    width: 60%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;

    > div {
      text-align: right;
      width: 100%;
      position: absolute;
      transform: translateY(-50%);
      top: 40%;

      h1, h2 {
        font-weight: 700;
        margin-bottom: 12px;
      }

      h1 {
        font-size: 3.5em;
        font-weight: 700;
      }

      h2 {
        font-size: 2.5em;
        font-weight: 600;
      }
    }
  }
}

.start {
  width: 40vw;
  margin: auto;
  text-align: center;
  padding-top: 15vh;
  position: relative;
  z-index: 30;

  button {
    outline: none;
    border: none;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 48px;
    background-color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    color: #ef4d46;
    font-size: 1.2em;
    letter-spacing: 0.3px;
    cursor: pointer;
  }
}
